<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <voicesearch>
            <general>
                <enabled>0</enabled>
				<search_id>search</search_id>
				<device_scope>mobile</device_scope>
				<voice_language>en-US</voice_language>
            </general>
        </voicesearch>
    </default>
</config>